<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIRECTORY" />
    <ComponentGroup Id="cgHardwareSimulator">
      <ComponentGroupRef Id="cgNLog"/>
      <ComponentGroupRef Id="cgReactiveAscom"/>
      <ComponentGroupRef Id="cgSharedTypes"/>
      <Component Id="cmpHardwareSimulator" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filHardwareSimulator" 
              Source="$(var.HardwareSimulator.TargetPath)" 
              Vital="yes"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>