<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.5.1" targetFramework="net462" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.5.1" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="Machine.Specifications" version="0.12.0" targetFramework="net462" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net462" />
  <package id="Microsoft.Reactive.Testing" version="3.1.1" targetFramework="net462" />
  <package id="NLog" version="4.5.0" targetFramework="net462" />
  <package id="NodaTime" version="2.2.5" targetFramework="net462" />
  <package id="NodaTime.Testing" version="2.2.5" targetFramework="net462" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="TA.Ascom.ReactiveCommunications" version="1.0.0" targetFramework="net462" />
</packages>