<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TI.DigitalDomeWorks.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TI.DigitalDomeWorks.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TI.DigitalDomeWorks.Simulator.Properties.Settings>
      <setting name="CommPortName" serializeAs="String">
        <value>COM10</value>
      </setting>
      <setting name="ReceivedBytesThreshold" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShutterMotorInstalled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DomeCircumferenceTicks" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DomeHomeAzimuthTicks" serializeAs="String">
        <value>100</value>
      </setting>
    </TI.DigitalDomeWorks.Simulator.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TI.DigitalDomeWorks.Simulator.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DiscardNull" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DTREnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="ReadBufferSize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="ReadTimeoutMilliseconds" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="RTSEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="WriteBufferSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="WriteTimeoutMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="InvertHomeSense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterCharTimeoutMs" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RotationRateMsPerTick" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NewLine" serializeAs="String">
        <value>\n</value>
      </setting>
    </TI.DigitalDomeWorks.Simulator.Properties.Settings>
  </applicationSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.PlatformServices" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
